{% extends 'dashboardExtender.html' %}

{% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="{{ url_for('home') }}">
                    <i class="metismenu-icon fa fa-home"></i>
                    Home
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('bmi') }}" class="mm-active">
                    <i class="metismenu-icon fa fa-user">
                    </i>BMI
                </a>
            </li>
            <li>
                <a href="{{ url_for('diagnose') }}" >
                    <i class="metismenu-icon fa fa-plus-circle">
                    </i>Diagnose(Symptoms)
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('diagnosedetails') }}">
                    <i class="metismenu-icon fa fa-plus-square">
                    </i>Diagnose(Text)
                </a>
            </li>
            
             <li>
                <a href="{{ url_for('hospitals') }}">
                    <i class="metismenu-icon fa fa-rocket">
                    </i>Hospitals
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-heartbeat icon-gradient bg-amy-crisp"> </i>
                </div>
                <div>Diagnose
                    <div class="page-title-subheading">Calculate your BMI with PharmaCat.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert" style="margin-top: 20px; margin-right: 20px; margin-left: 20px">
              <button class="close" type="button" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
              </button>
              {{message}}
            </div>
          {% endfor %}
      {% endwith %}
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-lg-8">
                     <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Inline</h5>
                            <div>
                                <form class="form-inline" method="POST" action="{{url_for('bmi')}}">
                                    <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group"><label for="exampleEmail22" class="mr-sm-2">Height (cms)</label><input id="exampleEmail22" name="height" placeholder="Height" type="number" class="form-control" step="any" min=0></div>
                                    <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group"><label for="examplePassword22" class="mr-sm-2">Weight</label><input name="weight" id="examplePassword22" placeholder="Weight" type="number" step="any" class="form-control"></div>
                                    <button class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if ans!=0 %}
                <div class="mb-3 card card-body"><h5 class="card-title"></h5>
                    <h4>BMI = {{ans}}</h4>
                    {% if ans < 18.5 %}
                    <h5> Underweight</h5>
                    {% elif ans > 18.5 and ans < 25 %}
                    <h5> Normal </h5>
                    {% elif ans >25 and ans< 30 %}
                    <h5> Overweight </h5>
                    {% elif ans > 30 %}
                    <h5>Obese</h5>
                    {% endif %}
                    <h6>Height = {{height*100}} cm and Weight = {{weight}} kg</h6>
                </div>
            {% endif %}
        </div>    
    </div>
</div>
{% endblock %}