{% extends 'dashboardExtender.html' %}

{% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="{{ url_for('home') }}">
                    <i class="metismenu-icon fa fa-home"></i>
                    Home
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('bmi') }}">
                    <i class="metismenu-icon fa fa-user">
                    </i>BMI
                </a>
            </li>
            <li>
                <a href="{{ url_for('diagnose') }}">
                    <i class="metismenu-icon fa fa-plus-circle">
                    </i>Diagnose(Symptoms)
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('diagnosedetails') }}">
                    <i class="metismenu-icon fa fa-plus-square">
                    </i>Diagnose(Text)
                </a>
            </li>
            
             <li>
                <a href="{{ url_for('hospitals') }}">
                    <i class="metismenu-icon fa fa-rocket">
                    </i>Hospitals
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="app-main__inner">
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-server icon-gradient bg-amy-crisp"> </i>
            </div>
            <div>Book Appointment
                <div class="page-title-subheading">
                    Select the Hospital where you want to book your appointment at.
                </div>
            </div>
        </div>
        </div>
</div>

<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="row">
            <div class="col-lg-8">
                
        <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Select your Hospital</h5>
                        
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-eg11-0" role="tabpanel">

                        <form class="" action="{{ url_for('book') }}" method="post">
                            
                            <select class="mb-2 form-control" name="hname" required>
                                {% for i in places: %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <input type="time" name="time" min="09:00" max="18:00" style="border:0px;padding: 20px;font-size:15px;" required>
                            <br><br>
                            <button class="btn btn-primary">Proceed</button>
                        </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}