{% extends 'dashboardExtender.html' %}

{% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="{{ url_for('home') }}">
                    <i class="metismenu-icon fa fa-home"></i>
                    Home
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('bmi') }}">
                    <i class="metismenu-icon fa fa-user">
                    </i>BMI
                </a>
            </li>
            <li>
                <a href="{{ url_for('diagnose') }}" >
                    <i class="metismenu-icon fa fa-plus-circle">
                    </i>Diagnose(Symptoms)
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('diagnosedetails') }}" class="mm-active">
                    <i class="metismenu-icon fa fa-plus-square">
                    </i>Diagnose(Text)
                </a>
            </li>
            
             <li>
                <a href="{{ url_for('hospitals') }}">
                    <i class="metismenu-icon fa fa-rocket">
                    </i>Hospitals
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-file-text icon-gradient bg-amy-crisp"> </i>
                </div>
                <div>Diagnose
                    <div class="page-title-subheading">Diagnose your problems with PharmaCat on the basis of textual symptoms accurately describing your problem.
                    </div>
                </div>
            </div>
            </div>
    </div>
    {% with messages = get_flashed_messages() %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert" style="margin-top: 20px; margin-right: 20px; margin-left: 20px">
              <button class="close" type="button" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
              </button>
              {{message}}
            </div>
          {% endfor %}
      {% endwith %}
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-lg-8">
                    
            <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">How are you feeling?</h5>
                            
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-eg11-0" role="tabpanel">
                            <form class="" action="{{ url_for('diagnosedetails') }}" method="post">
                                <div class="position-relative form-group"><label for="exampleText" class="">Elaborate your feelings here</label><textarea name="feel" id="exampleText" class="form-control"></textarea></div>
                                <button class="btn btn-primary">Analyze</button>
                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}