{% extends 'dashboardExtender.html' %}

{% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="{{ url_for('home') }}">
                    <i class="metismenu-icon fa fa-home"></i>
                    Home
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('bmi') }}">
                    <i class="metismenu-icon fa fa-user">
                    </i>BMI
                </a>
            </li>
            <li>
                <a href="{{ url_for('diagnose') }}" class="mm-active">
                    <i class="metismenu-icon fa fa-plus-circle">
                    </i>Diagnose(Symptoms)
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('diagnosedetails') }}">
                    <i class="metismenu-icon fa fa-plus-square">
                    </i>Diagnose(Text)
                </a>
            </li>
            
             <li>
                <a href="{{ url_for('hospitals') }}">
                    <i class="metismenu-icon fa fa-rocket">
                    </i>Hospitals
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


{% block body %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-plus-circle icon-gradient bg-amy-crisp"> </i>
                </div>
                <div>Diagnose
                    <div class="page-title-subheading">Diagnose your problems easily with PharmaCat using our advanced Machine Learning based Predictors.
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-lg-8">
                    
            <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Enter the Number of Symptoms</h5>
                            
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-eg11-0" role="tabpanel">
                            <form class="" action="{{ url_for('diagnoseproceed') }}" method="post">
                                <select class="mb-2 form-control" name="n">
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <button class="btn btn-primary">Proceed</button>
                            </form>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>   
</div>   
{% endblock %}