<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>PharmaCat | Doctor Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/static/img/favicon.png">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/login.css')}}" >
<link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/login1.css')}}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div id="back">
  <div class="backRight"></div>
  <div class="backLeft"></div>
</div>

<div id="slideBox">
  <div class="topLayer">
    <div class="left">
      <div class="content">
        <div class="login">
          <div class="login-triangle"></div>
          <h2 class="login-header" style="color: #FFFFFF">Doctor Sign Up</h2>
          <form method="post" action="{{ url_for('docregister') }}" style="height:450px;overflow-y:auto;" class="login-container">
              <p><input type="text" placeholder="Full Name" name="full_name"></p>
              <p><input type="text" name="username" placeholder="Username"/></p>
              <p><input type="text" name="email" placeholder="Email" /></p>
              <p><input type="text" name="registration_number" placeholder="Doctor's Registration Number" /></p>
              <p><input type="text" name="address" placeholder="Address" /></p>
              <p><input type="text" name="contact_number" placeholder="Contact Number" /></p>
              <p><input type="password" name="password" placeholder="Password" /></p>
              <p><select name="specialization" placeholder="Doctor's Specialization" style="padding: 10px;border:0px;font-size: 15px;">
                 <option value="Dermatologist">Dermatologist</option>
                 <option value="Allergist/Immunologists">Allergist/Immunologists</option>
                 <option value="Gastroenterologist">Gastroenterologist</option>
                 <option value="Hepatologist">Hepatologist</option>
                 <option value="Pharmacologist">Pharmacologist</option>
                 <option value="HIV Specialist">HIV Specialist</option>
                 <option value="Endocrinologist">Endocrinologist</option>
                 <option value="Asthma Specialist">Asthma Specialist</option>
                  <option value="Cardiologist">Cardiologist</option>
                  <option value="Otolaryngologist">Otolaryngologist</option>
                  <option value="Paralysis Doctor">Paralysis Doctor</option>
                  <option value="General Physician">General Physician</option>
                  <option value="Microbiologist">Microbiologist</option>
                  <option value="Pulmonologists">Pulmonologists</option>
                  <option value="Pediatric">Pediatric</option>
                  <option value="Proctologist">Proctologist</option>
                  <option value="ENT Specialist">ENT Specialist</option>
                  <option value="Urologist">Urologist</option>
                  <option value="Expert Physician">Expert Physician</option>
                  <option value="Physician">Physician</option>
               </select></p>
              <p><input type="submit" value="Sign Up"><p>
          </form>
        </div>
        <button id="goLeft" class="on" style="margin-top:10px; margin-bottom: 10px; color:white">Login</button>
      </div>
    </div>

    <!-- Right - Login Form -->
    <div class="right">
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert" style="margin-top: 20px; margin-right: 20px; margin-left: 20px">
              <button class="close" type="button" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
              </button>
              {{message}}
            </div>
          {% endfor %}
      {% endwith %}
      <div class="content">
        <div class="login">
          <div class="login-triangle"></div>
          <h2 class="login-header" style="color: #FFFFFF">Doctor Login</h2>
          <form method="post" action="{{ url_for('doclogin') }}" class="login-container">
            <p><input type="text" placeholder="Username" name="username"></p>
            <p><input type="password" placeholder="Password" name="password"></p>
            <p><input type="submit" value="Log in"></p>
          </form>
        </div>
          <button id="goRight" class="on" style="color:white; margin-top: 10px">Sign Up</button>
      </div>
      <!-- <div class="content">
        <h2>Doctor Login</h2>
        <form method="POST" action="{{ url_for('doclogin') }}">
          <div class="form-group">
            <label for="username"  class="form-label" id="username">Username </label>
              <input type="text" name="username"/>
          </div>
            <br>
            <div class="form-group">
          <label for="password" class="form-label" id="password">Password </label>
              <br>
            <input type="password" name="password"/>
          </div>
            
            
     
          <button  type="submit">Login</button>
        </form>
               <button id="goRight" class="off">Sign Up</button>
      </div> -->
    </div>
  </div>
</div>

<!--Inspiration from: http://ertekinn.com/loginsignup/-->
<!-- partial -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script></script>

</body>
</html>

   